* {
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
}

.container {
  width: 300px;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

h1 {
  margin-bottom: 10px;
  font-size: 22px;
}

#outside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
}

button:focus {
  border: 1px solid blue;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.red {
  background-color: red;
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid red;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid blue;
}
.yellow {
  background-color: yellow;
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid yellow;
}

.red-changed {
  background-color: red;
  width: 150px;
  height: 100px;
}

.blue-changed {
  background-color: blue;
  width: 150px;
  height: 100px;
}

.yellow-changed {
  background-color: yellow;
  width: 150px;
  height: 100px;
}